
@{
    ViewBag.Title = "Report";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <style>

        #hrid { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 
    </style>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="row" style="text-align:center">
        <div class="col-xs-2">
            <img src="~/images/prcs.png" />
        </div>
        <div class="col-xs-8">
           <h1>Regional Blood Donation Center & Diagnostic Services</h1> 
            <h1><b>PAKISTAN RED CRESENT</b></h1>
            <h3>Punjab Provincial Branch,Lahore</h3>
            <div style="background-color:lightgray">
                <hr id="hrid">
                <b>Laboratory Name</b>
                <hr id="hrid">
            </div>
            
        </div>
        <div class="col-xs-2">
            <img src="~/images/prcs.png" />
        </div>
    </div>
    <div class="row" style="text-align:center">
        <h4>Electronically Verified Report, No Signature Required</h4>

    </div>
    <hr id="hrid"/>
</body>
</html>

